.full-height {
  min-height: 90%;
  min-height: 90vh;

  display: flex;
  align-items: center;
}

.ft-size-14 {
  font-size: 14px;
}

.pad {
  padding: 50px;
  line-height: 34px;
  letter-spacing: 1.5px;
}

.center {
  margin: 0 auto;
  max-width: 720px;
}
