$white: #ececec;
$darkblue: #222831;
$yellow: #f5c05a;

@import "reactstrap-variable-overrides";
@import "~bootstrap/scss/bootstrap";
@import "./About.scss";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold.ttf"),
    url("./fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium.ttf"),
    url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
}

body {
  font-family: Montserrat;
  color: #f5c05a;
  margin: 0 66px;
}
