[data-theme=dark],
.theme-dark {
    --bulma-scheme-main: hsl(208.57deg 38.18% 10.78%);

    --bulma-text: hsl(46deg 15% 83%);
    --bulma-text-h: 46;
    --bulma-text-s: 15%;
    --bulma-text-l: 83%;
    --bulma-text-strong-l: 83%;

    --bulma-link: #dda15e;
    --bulma-link-h: 32;
    --bulma-link-s: 65%;
    --bulma-link-l: 62%;
}

body {
    width: 100%;
    min-width: 410px;
    min-height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
}

.scroll-point-start {
    scroll-snap-align: start;
}

.scroll-point-center {
    scroll-snap-align: center;
}

@media screen and (max-width: 768px){
    .mobile-scroll-point-start {

        scroll-snap-align: start;
    }
}

@media screen and (min-width: 768px){
    .desktop-scroll-point-center {

        scroll-snap-align: center;
    }
}

