// Body
$body-bg: $darkblue;

// Navbar
$navbar-padding-y: 1rem;
$navbar-padding-x: 0;

// Navbar title
$navbar-dark-active-color: $yellow;
$navbar-dark-hover-color: none;

// Navbar toggler icon (for mobile)
$navbar-dark-toggler-border-color: rgba($yellow, 0.5);
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='#{$yellow}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

// Nav links
$navbar-dark-color: $yellow;
// $navbar-dark-active-color: $white; // TODO: Set active menu item color
// $nav-link-padding-x: 1.25rem; // Media query superscedes this

// Cards
$card-bg: $blue;
